@model mongodb_mvc.Models.Product
@{
    ViewBag.Title = "Create";
}




<head>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>


<body>
    <div id="throbber" style="display:none; min-height:120px;"></div>
    <div id="noty-holder"></div>
    <div id="wrapper">
        <!-- Navigation -->

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="center-block">
                    <h2>PRODUCT MANAGEMENT SYSTEM</h2>
                </div>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li>
                </li>
                <li class="dropdown">

                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-fw fa-user-plus"></i>Home <i class="fa fa-fw fa-angle-left pull-right"></i></a></li>
                    <li><a href="@Url.Action("List", "Product")"><i class="fa fa-fw fa-user-plus"></i>Product List <i class="fa fa-fw fa-angle-left pull-right"></i></a></li>
                    <li>
                        <a href="@Url.Action("SaleList","Sale")"><i class="fa fa-fw fa-paper-plane-o"></i> Sale List</a>
                    </li>
                    <li><a href="@Url.Action("Create", "Product")"><i class="fa fa-fw fa fa-question-circle"></i> Add New Product</a></li>
                  
                    <li><a href="@Url.Action("Index","Sale")"><i class="fa fa-fw fa fa-question-circle"></i> Chart</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row" id="main">
                    <div class="col-sm-12 col-md-12 well" id="content">
                       
                        @using (Html.BeginForm())
                        {
    
                             @*<div>
                        <div class="form-style-8">
                            <form>*@
                                @*@Html.LabelFor(m => m.branch_number)
                                @Html.TextBoxFor(m => m.branch_number, new { @class = "form-control" })
                      
                                @Html.LabelFor(m => m.product_code)
                                @Html.TextBoxFor(m => m.product_code, new { @class = "form-control" })
                                
                                @Html.LabelFor(m => m.brand)
                                @Html.TextBoxFor(m => m.brand, new { @class = "form-control" })

                                @Html.LabelFor(m => m.product_type)
                                @Html.TextBoxFor(m => m.product_type, new { @class = "form-control" })
                     
                                @Html.LabelFor(m => m.purchase_price)
                                @Html.TextBoxFor(m => m.purchase_price, new { @class = "form-control" })

                                @Html.LabelFor(m => m.purchase_date)
                                @Html.TextBoxFor(m => m.purchase_date, new { @class = "form-control" })*@
                                
                             
                            @*@:SubeKodu    @Html.TextBoxFor(x => x.branch_number, new { @class = "form-control" }) <br />
                            @:UrunKodu    @Html.TextBoxFor(x => x.product_code, new { @class = "form-control" }) <br />
                            @:Markasi     @Html.TextBoxFor(x => x.brand, new { @class = "form-control" }) <br />
                            @:UrunCinsi   @Html.TextBoxFor(x => x.product_type, new { @class = "form-control" }) <br />
                            @:GelisFiyat  @Html.TextBoxFor(x => x.purchase_price, new { @class = "form-control" }) <br />
                            @:AlimTarih   @Html.TextBoxFor(x => x.purchase_date, new { @class = "form-control"}) <br />
                            @:Stock   @Html.TextBoxFor(x => x.stock, new { @class = "form-control"}) <br />*@
                            
                            
                            
                            
                            <center>
                                <table>
                                    <tr>
                                        <td>Branch Number</td>
                                        <td>@Html.EditorFor(x => x.branch_number)</td>
                                    </tr>
                                    <tr>
                                        <td>Product Code</td>
                                        <td>@Html.EditorFor(x => x.product_code)</td>
                                    </tr>
                                    <tr>
                                        <td>Brand</td>
                                        <td>@Html.EditorFor(x => x.brand)</td>
                                    </tr>
                                    <tr>
                                        <td>Product Type</td>
                                        <td>@Html.EditorFor(x => x.product_type)</td>
                                    </tr>
                                    <tr>
                                        <td>Purchase Price</td>
                                        <td>@Html.EditorFor(x => x.purchase_price)</td>
                                    </tr>
                                    <tr>
                                        <td>Purchase Date</td>
                                        <td>@Html.EditorFor(x => x.purchase_date)</td>
                                    </tr>
                                    <tr>
                                        <td>Stock</td>
                                        <td>@Html.EditorFor(x => x.stock)</td>
                                    </tr>
                                </table>
                                <br />
                            <input type="submit" name="btnSubmit" value="Insert" class="btn btn-success"  />
                                </center>
                            @*</form>
                            </div>
                                 </div>*@
                        }






                        @*<div class="container">
                            <form class="form-horizontal" role="form">
                                <h2>Registration Form</h2>
                                <div class="form-group">
                                    <label for="branch" class="col-sm-3 control-label">Branch Number</label>
                                    <div class="col-sm-9">
                                        <select id="branch" class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </div> <!-- /.form-group -->
                                <div class="form-group">
                                    <label for="pcode" class="col-sm-3 control-label">Product Code</label>
                                    <div class="col-sm-9">
                                        <input type="pcode" id="pcode" placeholder="Pcode" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="brand" class="col-sm-3 control-label">Brand</label>
                                    <div class="col-sm-9">
                                        <select id="brand" class="form-control">
                                            <option>Apple</option>
                                            <option>Samsung</option>
                                            <option>LG</option>
                                            <option>Sony</option>
                                        </select>
                                    </div>
                                </div> <!-- /.form-group -->
                                <div class="form-group">
                                    <label for="ptype" class="col-sm-3 control-label">Product Type</label>
                                    <div class="col-sm-9">
                                        <select id="ptype" class="form-control">
                                            <option>Phone</option>
                                            <option>Computer</option>
                                        </select>
                                    </div>
                                </div> <!-- /.form-group -->
                                <div class="form-group">
                                    <label for="price" class="col-sm-3 control-label">Purchase Price</label>
                                    <div class="col-sm-9">
                                        <input type="price" id="price" placeholder="Price" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="stock" class="col-sm-3 control-label">Stock</label>
                                    <div class="col-sm-9">
                                        <input type="stock" id="stock" placeholder="Stock" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Date" class="col-sm-3 control-label">Purchase Date</label>
                                    <div class="col-sm-9">
                                        <input type="date" id="Date" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <input type="submit" name="btnSubmit" value="Insert" />
                                           @*<button type="submit" class="btn btn-primary btn-block">Add Product</button>
                                    </div>
                                </div>
                            </form> <!-- /form -->
                        </div> <!-- ./container -->*@

                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div><!-- /#wrapper -->

</body>

<script src="~/js/bootstrap.js"></script>

<script src="~/js/bootstrap.min.js"></script>















































